.fondo {
    background-image: url(../imagenes/fondos/abstractoMulti.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.content {
    height: 85vh;
    border-radius: 2rem;
    border: 2px solid rgba(255, 255, 255, 0.319);
    box-shadow: 0px 0px 90px 5px #323232;
    backdrop-filter: blur(10px);
}

.info img {
    border-radius: 50%;
}

iframe {
    width: 100%;
    height: 100%;
}

.modal-body {
    height: 40vh;
}

.icon-dot {
    cursor: pointer
}

h4 {
    text-align: center;
    color: black;
    margin-bottom: 1.2rem;
    font-size: 1.8rem;
}

.estadisticas {
    font-size: medium;
    color: black;
}

a {
    transition: all 0.2s ease-in-out;
}

.divBotones button {
    padding: 0.6rem 0;
    font-size: 1.3rem;
    border-radius: 2rem;
    font-weight: 500;
    background: linear-gradient(#3a63d5, #d53a9d);
    border: transparent;
    position: relative;
}

.divBotones button::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50px;
    padding: 2px;
    background: linear-gradient(45deg, #743ad5, #e727a1);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.divBotones button:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
}

a:hover {
    transform: scale(1.2);
}

@media(max-width:991px) {
    .modal-body {
        height: 80vh;
    }

    .content {
        height: 95vh;
    }

    #botonMensaje {

        margin-bottom: 0.8rem;
    }

    .divBotones {
        margin-top: 1.1rem !important;
    }

    #fotoPerfil {
        width: 60% !important;
    }
}