* {
    font-family: 'Courier New', Courier, monospace !important;
}

html {
    min-width: 100vw;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

code {
    background-color: black;
    font-style: italic;
    color: rgb(0, 255, 13) !important;
    font-weight: bolder !important;
    display: block !important;
    padding: 0.5rem 1rem !important;
    margin: 1rem 0 !important;
    width: fit-content !important;
    max-width: 90% !important;
    text-align: start !important;
}

.content {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.content div {
    margin-bottom: 2rem;
    width: 80%;
    text-align: justify;
}

.claseDinamica {
    color: purple !important;
    font-weight: bolder;
    text-decoration: underline;
    background-color: white;
    display: block;
    border: 3px dotted black;
    border-radius: 2rem;
    font-size: 5rem;
}

button {
    border: 2px solid rgb(191, 191, 191);
    border-radius: 2rem !important;
    background-color: transparent;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    color: rgb(0, 255, 4);
    font-size: 1.3rem;
    font-weight: bolder;
    transition: transform 0.2s ease;
}

button:hover {
    transform: scale(1.1);
    background-color: rgb(0, 255, 4);
    color: black;
}


.ej1,
.ej2 {
    background-color: black;
    width: 100%;
    padding: 1rem 2rem;
    text-align: justify;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.ej2 {
    margin-bottom: 0;
}

.ej1 *,
.ej2 * {
    color: rgb(0, 186, 0)
}

.solucion {
    margin: 1rem 0;
    background-color: rgb(58, 58, 58);
    border-radius: 1rem;
    padding: 0.2rem 1.5rem;
}

.solucion button {
    padding: 0.5rem 1rem;
    border: 0;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: bold;
    color: green;
    transition: transform 0.2s ease;
}

.solucion button:hover {
    transform: scale(1.1);
}

.ej2 .solucion {
    padding: 0rem 1.5rem 1rem 1.5rem;
}

.solucion ul {
    margin: 0;
    padding: 1rem;
}

.modal-body {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body h2 {
    font-size: 1.3rem;
}

.modal-body h3 {
    font-size: 1.2rem;
}

.modal-body h2,.modal-body h3, .modal-body b {
    background-color: black;
}

.modal-body ul,.modal-body li, .modal-body p {
    background-color: rgb(58, 58, 58);
}

.modal-body button {
    background-color: white;
}

.navbar {
    background-color: black;
}

.nav-item {
    margin-right: 1.5rem;
}

.nav-item a {
    color: rgb(0, 255, 13);
    transition: all 0.2s ease;
}

.nav-item a:hover {
    color: white;
    transform: scale(1.1);
}

.active {
    color: rgb(255, 255, 255) !important;
}